<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flexbox布局</title>
    <style>
        nav{
            display: flex;
            background-color: black;
            width: 340px;
            flex-wrap: wrap;
            justify-content: center;
        }
        div{
            width: 100px;
            height: 100px;
            background-color: gold;
            padding: 20px;
            border: 10px solid black;
            margin: 5px;
        }
    </style>
</head>
<body>
    <nav>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </nav>
</body>
</html>